@font-face {
  font-family: "Poppins-regular";
  src: url("./font/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins-medium";
    src: url("./font/Poppins-Medium.ttf");
    }

.App {
  /* text-align: center;
  */
  overflow: hidden;
  font-family: 'Poppins-regular', sans-serif;
}

.App-navbar {
  display: inline-block;
  width: 100%;
  background-color: white;
  height: 100px;
  color: black;
  padding: 5px 10px 5px 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.App-navbar a{
  color: black;
  float: right;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  
  font-family: 'Poppins-medium', sans-serif;
}


.App-navbar a:hover{
  color: rgb(255, 255, 255);
  background-image: linear-gradient(315deg, #63a4ff 0%, #69f2fc 74%);
  text-shadow: #000000;
  box-shadow: 2px 2px 2px 2px #989898;
  transition: 0.5s;
  transform: scale(1.01);
  border-radius: 10px;
}

.App-navbar img{
  float: left;
  width: 100px;

}

.App-header{
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  width: 100%;
  padding: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.App-header h1{
  color: rgb(54, 54, 54);
}

.App-header h4{
  width: 60%;
  color: rgb(54, 54, 54);
}


.App-header h5{
  width: 60%;
  color: rgb(54, 54, 54);
  text-align: justify;
}



.App-footer{
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: whitesmoke;
  font-size: 12px;
  background-color: #3f3f3f;
}

.quiz-container{
  width: 60%;
  padding: 5px;
  margin: auto;
  background-color: white;
  overflow: hidden;
}

.quiz-submission{
  font-family: 'Poppins-medium', sans-serif;
  width: max-content;
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  background-image: linear-gradient(315deg, #63a4ff 0%, #25e3f0 74%);
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
  border: 2px solid white;
  
  box-shadow: 1px 1px 1px 1px #c3c3c3;
}

.quiz-submission:hover{
  background-image: linear-gradient(315deg,#4cd6e0 0%, #63a4ff 80% );
  transition: 1s;
  transform: scale(1.1);
  border-radius: 10px;
  
  font-weight: bold;
  color: #021a3c;
  box-shadow: 2px 2px 2px 2px #989898;
}

.quiz-marks{
  border: 2px dashed rgb(149, 142, 254);
  padding: 10px 60px;
  margin: 20px;
  width: max-content;
  border-radius: 10px;

}
.quiz-marks h3{
  color: #266fff;
  font-family: 'Poppins-medium', sans-serif;
  font-weight: bold;
}



@media (max-width: 600px) {

  .App-navbar a{
    overflow: hidden;
    display: inline-block;
    font-size: 15px;
    margin: 20px 10px
  }

  .App-navbar img{
    width: 80px;
  }

  .App-header h1{
    font-size: 25px;
  }
  .App-header h4{
    font-size: 14px;
  }
  .App-header h5{
    font-size: 12px;
  }
  .quiz-container{
    width: 80%;
  }
  
} 