.quiz_question{
    border: 0.5px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.quiz-button{
    background-color: #266fff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Poppins-medium', sans-serif;
    cursor: pointer;
    
}

.quiz-button:hover{
    background-color: #74befb;
    color: black;
    transition: 0.5s;
    border-radius: 10px;
}

@media (max-width: 600px){
    .quiz-button{
        font-size: 12px;
    }
    .quiz_question h3{
        font-size: 15px;
    }
    .quiz_question{
        padding: 10px;
        width: 80%;
    }
    label{
        font-size: 13px;
    }
}